<!DOCTYPE html>

<html>

<head>

  <!-- 页面meta -->

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>智能家居管理系统</title>

  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

  <!-- 引入样式 -->

  <link rel="stylesheet" href="../plugins/elementui/index.css">

  <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="../css/style.css">
  <style>

    /*.el-carousel__item:nth-child(2n) {*/
    /*  background-color: #FAFAD2;*/
    /*}*/

    /*.el-carousel__item:nth-child(2n+1) {*/
    /*  background-color: #E0FFFF;*/
    /*}*/
    /*.carousel-img {*/
    /*  max-width: 100%;*/
    /*  max-height: 100%;*/
    /*}*/
  </style>

</head>

<body>
<div id ="app">

  <el-container style="height: 800px; border: 1px solid #eee">

    <el-container>
      <el-header>

        <el-menu class="el-menu-demo" default-active ='1' @select="choose"
                 router
                 mode="horizontal"
                 background-color="white"
                 text-color="#222"
                 active-text-color="red"
                 style="min-width: 1300px">
          <el-menu-item index="1">首页</el-menu-item>
          <el-menu-item index="3" >室内布局</el-menu-item>
          <el-menu-item index="4"><a href="./jiaju.html?username="+this.username >家居总览</a></el-menu-item>

          <span style="position: absolute;padding-top: 20px;right: 50%;font-size: 20px;font-weight: bold">欢迎使用</span>
          <el-submenu index="2" >
            <template slot="title"></template>
            <el-menu-item index="2-1" @click.native="Showmes()">个人中心</el-menu-item>
            <el-menu-item index="2-2">签到</el-menu-item>
            <el-menu-item index="2-3" @click.native="logout()">退出</el-menu-item>
          </el-submenu>
          <el-input
                  placeholder="快速搜索..."
                  prefix-icon="el-icon-search"
                  size="medium"
                  style="width: 300px;position:absolute;margin-top: 12px;right: 5%"
                  v-model="keywords">
          </el-input>
        </el-menu>
      </el-header>

      <el-main>
        <el-carousel :interval="2000" type="card" height="700px" >
          <el-carousel-item v-for="item in 4" :key="item">
            <img class="carousel-img" :src="imgs[item-1]">
          </el-carousel-item>
        </el-carousel>
      </el-main>
    </el-container>
  </el-container>


<!--  个人表单-->
    <el-dialog title="个人信息" :visible.sync="dialogFormVisible4Edit">
      <el-descriptions title="用户信息">
        <el-descriptions-item label="用户名">{{username}}</el-descriptions-item>
        <el-descriptions-item label="手机号">{{formData.PhoneNumber}}</el-descriptions-item>
      </el-descriptions>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible4Edit = false">确定</el-button>
      </div>
    </el-dialog>

</div>

</body>
<script src="../js/vue.js"></script>

<script src="../plugins/elementui/index.js"></script>

<script type="text/javascript" src="../js/jquery.min.js"></script>

<script src="../js/axios-0.18.0.js"></script>
<script>

  var vue = new Vue({
    el: '#app',
    data:{
        formData: {},
        dialogFormVisible4Edit:false,
        keywords:'',
        username :location.href.substring(location.href.lastIndexOf("=")+1),
        imgs:[]
      },
    methods: {
      logout() {
        document.location.href='./login.html';
      },
      resetpassword() {

      },
      Showmes(){
        axios.get("/users/"+this.username).then((res)=>{
          // console.log(res.data.data);
          if(res.data.code === 20041){
            //展示弹层，加载数据
            this.formData = res.data.data;
            this.dialogFormVisible4Edit = true;
          }else{
            this.$message.error(res.data.msg);
          }
        });
      },
      choose(key,keyPath){
           console.log(key, keyPath);
      },
    }
  })

</script>
</html>